.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #087D5C, #087D5C, #CE122A, #CE122A, #F9D11A);
    height: 50px;
    padding-top: 18px;
    z-index: 100 !important;
}

.header__nav li {
    display: inline;
    float: left;
    color: white;
    padding: 4px 0 0 4px;
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.icon__white {
    color: white !important;
}

.header__nav li:hover {
    color: var(--terciary--ligth--color) !important;
}

.divider {
    font-size: 10px;
}

.row__logo {
    display: flex;
    /* background-color: #fcfcfc; */
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
}

.logo {
    height: 80px;
}

.logo__smal {
    width: 80px;
}

.rigth__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar__nemu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border-top: 1px solid #a9b2b4; */
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.search__bar {
    display: flex;
    height: 50px;
}

.search__bar .form-control {
    border-radius: 100px 0px 0px 100px;
    height: 50px;
}

.search__btn {
    /* background-color: var(--terciary--ligth--color); */
    background-color: #08c16d;
    color: white !important;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
}

.dropdown-menu {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    padding: 5px !important;
    margin-top: -2px !important;
}

.dropdown-item {
    color: #404040 !important;
    font: 20px;

    border-bottom: solid 1px #f0f0f0 !important;
    padding: 10px !important;
    word-wrap: break-word;
    max-width: 100% !important;
    white-space: normal !important;
}

.dropdown-item:hover {
    border-top: none;
    background-color: #fff !important;
    color: var(--secondary--color) !important;
}

.dropdown-toggle {
    color: #404040 !important;
    font: 13px;

    font-weight: 600;
    line-height: 1.42857143;
}

.dropdown {
    padding-top: 25px !important;
}

.dropdown:hover {
    /* border-top: 3px solid var(--secondary--color); */
}

.dropdown:hover > .dropdown-toggle {
    /* margin-top: -3px; */
    color: var(--mygreen-ligth);
}

.dropdown:hover > .dropdown-menu {
    /* border-top: 5px solid var(--secondary--color); */
}

.dropdown {
    height: 90px;
    display: flex;
    margin-top: -2.1px;
}

/**
* Animation
**/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;

        transform: translate(0px, 100px);
    }
    100% {
        opacity: 1;
    }
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
}
.dropdown:hover .dropdown-menu {
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.navbar__responsive {
    display: none;
}

.logo__icon {
    display: flex;
    height: 50px;
    margin-left: 10px;
}

/**
* New update
**/

.nav-link {
    font-size: 20px !important;
    display: block;
    font-weight: bold !important;
    padding: 0.5rem 1rem !important;
}

.logo__text {
    margin-right: 5px;
    color: white;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0px 10px;
}

.dropdown-item {
    font-size: 13px !important;
    font-weight: bold !important;
    color: black !important;
}

a{
    font-size: 13px !important;
    font-weight: bold !important;
    color: black !important;
}

a:hover{
    color: #12A6DB !important;
}
/** END OF NEW CSS UPDATE**/

.hide__text__lg {
    display: none !important;
}

.header__text__link {
    margin-left: 100px !important;
}

@media screen and (max-width: 1455px) {
    .navbar__nemu {
        display: flex;
        vertical-align: middle;
    }
}

@media screen and (max-width: 640px) {
    .header__text__link {
        margin-left: 10px !important;
    }
    .hide__text__lg {
        display: block !important;
    }
    .hide__text {
        display: none !important;
    }
    .logo__text {
        display: none;
    }
    .logo__icon .logo {
        height: 50px;
        margin-top: -20px;
        padding: 2px;
        display: block;
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18px;
        position: fixed;
        z-index: 10;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .header__nav li {
        display: inline;
        float: left;
        color: white;
        font-size: 10px !important;
        padding: 4px 0 0 4px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        padding: 5px;
        cursor: pointer;
    }

    .row__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
    }

    .partner__logo {
        display: none;
    }

    .search__bar {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .navbar__nemu {
        display: none;
    }

    .rigth__row {
        width: 94%;
    }

    .navbar__responsive {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sub__link {
        padding: 10px 0px;
    }

    .navbar__responsive .item__link {
        background-color: white;
        width: 100%;
        text-align: left;
    }

    .navbar__responsive .sub__item__link {
        margin-left: 8px;
        margin-bottom: 10px;
    }

    .navbar__responsive .sub__item__link__a {
        color: #777;
        border-left: 2px solid var(--secondary--color);
        padding-left: 5px;
        height: max-content;
        display: flex;
    }

    .nav__item .item {
        display: flex;
        align-items: center;
        background-color: white;
        padding-right: 10px;
    }

    .carousel-indicators {
        z-index: -10 !important;
    }
}
